main {
	max-width: 1240px;
	width: 90%;
	margin: 0 auto;
}

.row span {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 50px;
	background-color: darkslateblue;
}
.clear {
	clear: left;
	float: none;
	height: 100px;
	background-color: transparent;
}

/* Translate */
.translateY {
	transform: translateY(25px) translateX(40px);
}
.translateX {
	transform: translateX(40px);
}
.translateAll {
	transform: translateY(25px) translateX(40px);
}
.translatePerc {
	transform: translateY(75%);
}

/* Scale */
.scale {
	transform: scale(0.8);
}

/* Rotate */
.rotate {
	transform: rotate(45deg);
}
.rotateY {
	transform: rotateY(-70deg);
}
.rotateX {
	transform: rotateX(135deg);
}
.rotateZ {
	transform: rotateX(135deg);
}

.skew {
	transform: skew(20deg, 0deg);
}

.complex {
	transform: translateY(25px) scale(0.8) rotateX(45deg);
}

